body{
background:#3c474d;
font-family: "Roboto", sans-serif;
color:#fff;
margin:0;
padding:60px;
}
body > h1 {
margin-top:0;
}
h1 {
margin:40px 0;
}
h3{
font-weight:normal;
}
section{
margin:10px 0px;
border-top:1px solid #aaa;
border-bottom:1px solid #aaa;
}
article{
margin-bottom:20px;
}
a{
color:#fa0;
}
div.container div{
width:33%;
float:left;
text-align:center;
}
hr{
clear:both;
border-bottom:1px solid #444;
}
/*****/
.w300{
width:300px;
height:300px;
}
.left{
float:left;
}